.tabs {
    background: black;

    &__tab {

        $active-focus: green;

        color: white;
        padding: 0.5rem 0.7rem;
        border: solid 1px white;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        border-bottom-width: 0; 
        box-shadow: 1px 1px 1px white;

        &-active {
            color: $active-focus;
            border-color: $active-focus;
            box-shadow: 1px 5px 5px $active-focus;
        }
    }
}