.template {
    width: 100%;
    min-height: 14rem;
    display: block;
    border: 2px solid #eee;
    border-radius: 1rem;

    position: relative;
    &__options {
        margin-top: auto;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    &__name {
        font-size: 1.2rem;
    }

    &__frame {
        pointer-events: none
    }
}