@import '~bootstrap/scss/bootstrap.scss';
@import 'variables';
@import 'pages/all';
@import 'components/all';

html, body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}